body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


.card {
    width: 80%;
    max-width: 500px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;


}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 25px;
    height: 60px;
    width: 70%;
    min-width: 50%;
    font-size: 18px;

}

.search button {
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.search button img {
    width: 16px;
}


.weather h1 {
    font-size: 80px;
    font-weight: 500;
}


.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.coll {
    display: flex;
    align-items: center;
    text-align: left;
}

.coll img {
    width: 40px;
    margin-right: 10px;
}