body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


.card {
    width: 80%;
    max-width: 500px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;


}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.search input {
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 25px;
    height: 40px;
    width: 70%;
    min-width: 50%;
    font-size: 18px;

}

.search button {
    background: #ebfffc;
    color: #555;
    border: 0;
    outline: 0;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.search button img {
    width: 16px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}


.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: -webkit-fill-available;
    padding: 0 20px;;
}

.coll {
    display: flex;
    align-items: center;
    text-align: left;
}

.coll img {
    width: 40px;
    margin-right: 10px;
}

p.humidity,
p.wind {
    margin-right: 10px;
}

.error {
    display: flex;
}

.weather,
.error {
    display: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .search input {
        width: 55%;

    }

.details {
    width: 100%;
    padding: 15px;
}

.coll {
    margin: 0 10px;
}

.coll p{
    font-size: 14px;
}

    .coll img {
        width: 30px;
        margin-right: 10px;
    }


}